*{
    color: var(--text);
    margin: 0px;
    font-family: Tahoma;
}

html{
    background-color: var(--main);
}

#drawingBoard{
    margin-left: 51px;
    width: calc(100% - 51px);
    height: 100%;
}
#drawingBoard svg{
    /* border: 1px solid white; */
}

/* TOOLBAR */

#toolbar{
    position: absolute;
    left: 0px;
    top: 0px;
    height: calc(100% - 5px);
    width: 50px;
    background-color: var(--main-bg-color);
    padding-top: 5px;
}

.toolbar-icon{
    margin: 5px;
    width: 40px;
    height: 40px;
    float: left;
    background-color: var(--main-bg-color);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    opacity: 0.3;
    filter: var(--image-filter);
}

.toolbar-icon:hover{
    cursor: pointer;
    opacity: 1;
}

.toolbar-icon.selected{
    color: #3498db;
    opacity: 1.0;
}
