*{
    color: var(--text);
    margin: 0px;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    user-select: none;
}

html{
    background-color: var(--main);
    overflow: hidden;
}

#mainPanel{
    width: 100%;
    height: calc(100% - 20px);
    position: absolute;
    top: 20px;
}

#drawingBoard{
    margin-left: 51px;
    margin-top: 41px;
    width: calc(100% - 51px);
    height: calc(100% - 41px);
}

.whiteboard-link:hover{
    cursor: pointer;
    stroke: var(--blue);
    fill: var(--blue);
}

/* TOOLBAR */

#toolbar{
    position: absolute;
    left: 0px;
    top: 0px;
    height: calc(100% - 5px);
    width: 50px;
    background-color: var(--main-bg-color);
    padding-top: 5px;
}

.toolbar-icon{
    margin: 5px;
    width: 35px;
    height: 40px;
    font-size: 10px;
    float: left;
    background-color: var(--main-bg-color);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 5px;
    color: white;
    opacity: 0.3;
    filter: var(--image-filter);
}

.toolbar-icon.selected{
    opacity: 1.0;
    background-color: var(--highlight);
    border-radius: 10px;
}

.toolbar-icon:hover{
    cursor: pointer;
    opacity: 1;
}

#colourBar{
    position: absolute;
    height: 40px;
    width: calc(100% - 50px);
    top: 0px;
    left: 50px;
    background-color: var(--main);
}

#colourBar svg{
    width: 100%;
    height: 40px;
}

#colourBar-newColour{
    position: absolute;
    height: 40px;
    width: 50px;
    border: 1px solid var(--highlight);
    opacity: 0.0;
    cursor: pointer;
}

#colourBar-strokeIncreaseButton:hover{
    cursor: pointer;
}

#colourBar-strokeIncreaseButton:hover .colourBar-strokeIncreaseLine{
    stroke: var(--blue);
}

#colourBar-strokeIncreaseButton:active .colourBar-strokeIncreaseLine{
    stroke: var(--red);
}

#colourBar-strokeDecreaseButton:hover{
    cursor: pointer;
}

#colourBar-strokeDecreaseButton:hover .colourBar-strokeDecreaseLine{
    stroke: var(--blue);
}

#colourBar-strokeDecreaseButton:active .colourBar-strokeDecreaseLine{
    stroke: var(--red);
}

#navBar{
    position: absolute;
    right: -200px;
    top: 40px;
    background-color: var(--main);
    width: 220px;
    height: calc(100% - 40px);
}

#navBar-side{
    width: 20px;
    height: 100%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
    background-image: url("../images/chevron_left.png");
    filter: var(--image-filter);
}

#navBar-content{
    position: absolute;
    left: 20px;
    top: 0px;
    background-color: var(--darklight);
    height: 100%;
    width: calc(100% - 20px);
}

#navBar-side:hover{
    opacity: 1.0;
    cursor: pointer;
}

.navBar-content-board{
    text-align: center;
    width: 100%;
    height: 25px;
}

.navBar-content-board:hover{
    cursor: pointer;
    background-color: var(--highlight);
}

.navBar-content-board.current{
    background-color: var(--blue);
}